.transfer-body {
  color: white;
  max-width: 600px;
  margin: auto;
  padding: 30px 0;

  .transfer-h1 {
    margin-top: 10px;
    text-align: center;
    font-family: monospace;
  }
  .transfer-head {
    background-color: transparent;
    max-width: 500px;
    width: 100%;
    margin: auto;
    hr {
      background-color: white;
    }
  }
  .transfer-body {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    select,
    input {
      padding: 0 20px;
    }
    .input-field {
      height: 40px;
      border: none;
      border-radius: 5px;
    }
    .number-none-arrow {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    label {
      margin-top: 10px;
      font-family: monospace;
      font-size: large;
    }
    input,
    textarea {
      border-radius: 5px;
    }
  }
  .transfer-submit {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    outline: none;
    input {
      width: 100%;
      border-radius: 5px;
      background-color: #17a2b8;
      color: white;
      border: none;
    }
  }
  .transfer-error {
    color: red;
    margin-top: 5px;
  }
}
.transfer-padding {
  padding-top: 100px;
  background-image: url("/images/background-tranfer.jpg");
  background-size: cover;
  height: 100%;
  .modal-title {
    font-size: 18px;
  }
}
