.main-forget {
  margin: 0 auto;
  max-width: 520px;
  text-align: center;
  padding: 10px;

  h1,
  h2 {
    font-weight: 300;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  hr {
    width: 30px;
    background: none;
    border: 1px solid #007bff;
    margin: 30px auto;
  }
  label {
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 300;
  }
  input {
    font-size: 16px;
  }
  .button {
    color: white;
    background-color: #007bff;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 0;
    width: 25%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  .header-forget {
    margin: 40px auto;
  }
  .form {
    text-align: left;
  }
  .form-input {
    float: left;
    display: inline-block;
    width: 75%;
    padding: 10px 15px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #a7a7a7;
    border-radius: 3px 0 0 3px;
    transition: border-color ease-in-out 0.15s;
  }
}
