.outermost{
  padding: 2% 2%;
  text-align: center;
}
.table {
  text-align: center;
  .order {
    width: 4%;
  }
  .table-transaction{
      width: 16%;
  }
  .un-lock {
    width: 12%;
  }
  .bt-withdraw-money{
    width: 15%;
  }
}
