.change_password {
  background-image: url("/images/background.jpg");
  background-size: cover;
  padding-top: 150px;
  height: 100vh;
  .icon-change-password {
    width: 50px;
  }
  .paper {
    color: black;
    background: white;
    border-radius: 30px;
    padding: 50px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 600px;
    margin: auto;
  }
  .group-btn {
    margin: 24px 0px 16px;
    width: 50%;
  }
  .MuiContainer-maxWidthXs {
    @media (min-width: 0) {
      max-width: initial;
    }
  }
}
.error {
  color: red;
  font-size: 14px;
}