.header {
  background-color: #00001a;
  font-family: monospace;
  font-size: medium;
  align-items: center;
  color: white;
  th {
    text-align: center;
  }
}
.body {
  background-color: white;
  font-family: monospace;
  font-size: medium;
  align-items: center;
  font-weight: initial;
  th {
    text-align: center;
  }
}
