.header {
  position: fixed;
  padding: 25px 0;
  width: 100%;
  background: transparent;
  color: white;
  .header-nav {
    padding: 0 30px;
  }
  p {
    margin: 0;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    max-width: 1200px;
    a + a {
      margin-left: 15px;
    }
    .link-btn {
      color: white;
      text-decoration: none;
      padding: 10px 15px;
      cursor: pointer;
      &:hover {
        background: #f4f4f4;
      }
    }
    .sign-up {
      background: black;
      color: white;
      &:hover {
        background: #4e4545;
      }
    }
  }
}
