.tab-content {
  width: auto;
}
.modal-body {
  align-items: center;
  text-align: center;
}
.modal-header {
  flex-direction: column-reverse;
  align-items: center;
}
.modal-footer {
  justify-content: center;
}
.btn-group {
  display: flex;
  flex-direction: column;
}
.label-name {
  width: 250px;
  margin: auto !important;
}

.btn-primary.focus {
  background-color: #192637;
}
.btn-primary {
  &:hover {
    background: #192637;
  }
}

.mr-sm-2 {
  width: 25%;
  font-weight: bold;
}
