.sign-up-form {
  background-image: url("/images/login-background.jpg");
  background-size: cover;
  padding-top: 65px;
  height: 100vh;
  .paper {
    color: black;
    background: white;
    border-radius: 30px;
    padding: 50px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
  }
  .type-identity{
    width: 100px;
    margin-top: 8px;
  }
  .MuiContainer-maxWidthXs {
    @media (min-width: 0) {
      max-width: initial;
    }
  }
}
.error {
  color: red;
  font-size: 14px;
}
