.sign-up-form {
  background-image: url("/images/login-background.jpg");
  background-size: cover;
  padding:70px 0;
  @media (min-width: 500px){ 
    height: 100vh;
  }
  .identity-field{
    display: flex;
    align-items: center;
    padding-right:13px;
    @media (max-width:585px){
      flex-direction: column;
      width: 100%;
      align-items: end;
      .identity-id-field{
        min-width: 180px;
      }
    }
  }
  .paper {
    color: black;
    background: white;
    border-radius: 30px;
    padding: 50px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
  }
  .type-identity {
    width: 100px;
    margin-top: 8px;
  }
  .identity_issued_date {
    width: 98% !important;
    padding-left: 5px !important;
  }
  .MuiInputLabel-formControl {
    left: 5px;
  }
  .MuiContainer-maxWidthXs {
    @media (min-width: 0) {
      max-width: initial;
    }
  }
}
.error {
  color: red;
  font-size: 14px;
}
  