.profile {
  .list {
    width: 350px;
  }
  .icon-user {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
  .username {
    text-align: center;
    font-size: 150px !important;
  }
  .MuiListItemIcon-root {
    color: white !important;
  }
}
.MuiPaper-root {
  background-color: #192637 !important;
  color: white !important;
}
