.profile {
  background-color: #b8daff;
  color: white;
  width: 25%;
  height: calc(100vh - 50px);
}
.background {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.text {
  text-align: center;
  padding-top: 1.5rem !important;
  padding-bottom: 0.5rem !important;
}

.profile_btn_logout{
  &:hover{
    background: #17a2b8;
  }
  background-color: #b8daff;
}
